/.angular-config.json
/.bash_history
/.bash_logout
/.cache
/.claude
/.claude.json
/.eclipse/org.jkiss.dbeaver.product_26.0.0_1078795723_linux_gtk_x86_64/configuration
/.git-credentials
/.gnupg/private-keys-v1.d
/.gnupg/crls.d
/.gnupg/.*
/.gnupg/pubring.kbx
/.gradle
/.gnupg/pubring.kbx~
/.gnupg/random_seed
/.gnupg/trustdb.gpg
/.java
/.local
/.m2
/.minecraft
/.npm
/.password-store
/.pki/nssdb
/.putty
/.python_history
/.ssh
/.subversion
/.swt
/.testcontainers.properties
/.viminfo
/.vscode-oss
/.vscode-oss-shared/sharedStorage
/Postman
/PyCharmMiscProject/.idea
/documents
/downloads
/games
/idea-IU-261.23567.138
/music
/personal
/pictures
/pycharm-2026.1.2
/smartsvn
/work/*
!/work/.*
/work/.meta/admin
/work/.meta/nvim/java/*.tar.gz
/work/.meta/nvim/java/*.jar
/.config/create-next-app-nodejs
/.config/chromium
/.config/QtProject.conf
/.config/PostmanAgent
/.config/Postman
/.config/JetBrains
/.config/GIMP/3.2
/.config/Code - OSS
/.config/dconf
/.config/git
/.config/godot
/.config/htop
/.config/lazygit
/.config/libreoffice/4/user
/.config/mozilla/firefox
/.config/mpd/playlists
/.config/nextjs-nodejs
/.config/nnn
/.config/pulse
/.config/rc/runlevels/default
/.config/smartsvn
/.config/sqlitebrowser
/.config/vercel-plugin
/.config/.meta/*.gpg.key
/.config/nvim/lazy-lock.json
/.dotfiles
/.android
/.aws
/.config/google-chrome
/.config/envman
/.config/helm
/.config/jgit
/.docker
/.eclipse/org.jkiss.dbeaver.product_26.1.0_1078795723_linux_gtk_x86_64/configuration
/.kube
/.tilt-dev
/aws
/awscliv2.zip
/gchrome/google-chrome
